{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1>Contact US</h1>
        <p>If you'd like to contact us, here is our contact information:<p>
        <table class="table table-hover table-responsive table-sm">
            <tbody>
                <tr>
                    <td class="text-right">Phone Number:</th>
                    <td>00 33 45 56 33 56</td>
                </tr>
                <tr>
                    <td class="text-right">Email:</th>
                    <td>best_cars@fake-email.com</td>
                </tr>
                <tr>
                    <td class="text-right">Address:</th>
                    <td>42 Fake Street, <br>
                        Fake Town, <br>
                        Fake Postal Code, <br>
                        Fake Country
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock  %}